body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
}


header, .first, footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 200px;
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

li {
    color: #E5E7EB;
}

.first h1 {
    font-size: 48px;
    font-weight: 900;
}

.first p {
    font-size: 18px;
    color: #E5E7EB;
}

body {
    font-family: "Roboto", sans-serif;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 900;
    border: none;
    border-radius: 10px;
}

.second h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.third {
    background-color: #E5E7EB;
}

.third .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.first, .second, .third, .fourth {
    display: flex;
    padding: 75px 200px;
}

.first .container {
    max-width: 600px;
}

.first .image {
    display: flex;
    flex: 1;
    justify-content: center;
}

.second {
    flex-direction: column;
    align-items: center;
}

.second h2 {
    padding-bottom: 20px;
}

.second .container {
    text-align: center;
    display: flex;
}

.third {
    flex-direction: column;
}

.third .author {
    font-weight: 900;
    justify-content: flex-end;
    display: flex;
}

.fourth .container {
    display: flex;
    flex: 1;
    color: white;
    background-color: #3882F6;
    justify-content: space-between;
    border-radius: 5px;
    padding: 50px;
}

.fourth .container .nested-container {
    display: flex;
    flex: 2 1 0;
    flex-direction: column;

}
button .bottom {
    display: flex;
    flex: 1 1 0;
    border: 10px solid red;
    padding: 10px 20px;
}

.nested-container .action {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
    display: flex;
    flex: 1;
    justify-content: center;
}

footer p {
    padding: 20px 200px;
}